{% extends "layout.html" %} {% block content %}
<style>
.vertical-menu {
  padding-right:0;
  padding-left:0;
  background-color: #fff;
  width: 100%;
  height: calc(170vh - 200px);
  overflow: auto;
}

.vertical-menu a {
    background-color: #fff;
    color: #b5becf;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.vertical-menu a:hover {
  background-color: #f4f9fe;
}

.vertical-menu a.active {
    background-color: #f4f9fe;
    color: #555d65;
    font-weight: bold;
    font-size: 16px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.btn {
    color: #fff;
    margin-bottom: 0px !important; 
    position: relative;
}
</style>
<div class="bg-light">
    <div class="container" style="overflow-x: hidden !important;">
        <div class="row my-3">
            <!-- <div class="col-12 offset-md-1 bg-white border shadow-sm "> -->
                <div class="vertical-menu col-md-3 mt-3 offset-lg-1">
                    
                    <a class="active"
                        href="{{ url_for('users.account',id=current_user.id) }}">{{ ('General') }}</a>
                    <a  href="{{ url_for('users.address',id=user.id) }}"> {{ ('Address') }}</a>
                    <a  href="{{ url_for('users.occupation',id=user.id) }}">{{ ('Occupation') }}</a> 
                    <a  href="{{ url_for('users.links',id=user.id) }}">{{ ('SocialLinks') }}</a>
                    <a  href="{{ url_for('users.intrest',id=user.id) }}">{{ ('Interest') }}</a>
                    <a  href="{{ url_for('users.achievement',id=user.id) }}">{{ ('Milestones & Achievements') }}</a>
                    <a  href="{{ url_for('users.special_event',id=user.id) }}">{{ ('Special Moments') }}</a>
                    {% if current_user.is_role == 'Brand' %}
                    <a  href="{{ url_for('users.brandbrief',id=user.id) }}">{{('Brand Details') }}</a>
                    {% endif %} {% if current_user.is_role != 'Brand' %}
                    {% endif %}
                    {% if user.category == 'Sports' %}
                    <a  href="{{ url_for('users.sports',id=user.id) }}">{{ ('SportsCarrier') }}</a>
                    {% endif %}
                  </div> 
                
                
            <!-- </div> -->
            <div class="col-12 offset-md-0 bg-white p-3 mt-3 col-md-7">
                <div class="d-flex align-items-center mb-4">
                    <div class="">
                        <img style="height:100px; width:100px;" class="rounded-circle" src="{{ image_file }}">
                    </div>

                    <div class="pl-5">
                        <h2 class="mb_username">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }} | {{ user.is_role }}&#xA0; </p>

                    </div>
                </div>
                <hr>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <div class="row">
                        <div class="col-12 col-md-6">
                            {% if current_user.is_administrator() %}

                            <p class="text-secondary p-1"> Role</p>
                            <div class="form-group">
                                <!-- {{ form.is_role.label(class="form-control-label") }}  -->
                                {% if form.is_role.errors %} {{ form.is_role(class="form-control is-invalid")
                        }}
                                <div class="invalid-feedback">
                                    {% for error in form.is_role.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.is_role(class="form-control") }} {% endif %}
                            </div>
                            {% endif %}
                            <p class="text-secondary p-1">First Name</p>
                            <div class="form-group">
                                <!-- {{ form.first_name.label(class="form-control-label") }}  -->
                                {% if form.first_name.errors %} {{ form.first_name(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.first_name(class="form-control") }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">Last Name</p>
                            <div class="form-group">
                                <!-- {{ form.last_name.label(class="form-control-label") }}  -->
                                {% if form.last_name.errors %} {{ form.last_name(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.last_name(class="form-control") }} {% endif %}
                            </div>
                            <p class="text-secondary p-1">Category</p>
                            <div class="form-group">
                                <!-- {{ form.category.label(class="form-control-label") }}  -->
                                {% if form.category.errors %} {{ form.category(class="form-control
                                                    is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.category.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.category(class="form-control") }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">About Me</p>
                            <div class="form-group">
                                <!-- {{ form.about_me.label(class="form-control-label") }}  -->
                                {% if form.about_me.errors %} {{ form.about_me(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.about_me.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.about_me(class="form-control") }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">Web URL</p>
                            <div class="form-group">
                                <!-- {{ form.web_url.label(class="form-control-label") }}  -->
                                {% if form.web_url.errors %} {{ form.web_url(class="form-control is-invalid")
                        }}
                                <div class="invalid-feedback">
                                    {% for error in form.web_url.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.web_url(class="form-control") }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">User Name</p>
                            <div class="form-group">
                                <!-- {{ form.username.label(class="form-control-label") }}  -->
                                {% if form.username.errors %} {{ form.username(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span> {% endfor %}date_of_birth
                                </div>
                                {% else %} {{ form.username(class="form-control") }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">Gender</p>
                            <div class="form-group">
                                <!-- {{ form.gender.label(class="form-control-label") }}  -->
                                {% if form.gender.errors %} {{ form.gender(class="is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.gender.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.gender(class="form-control") }} {% endif %}
                            </div>

                        </div>
                        <div class="col-12 col-md-6">

                            <p class="text-secondary p-1">Date Of birth</p>
                            <div class="form-group">
                                <!-- {{ form.date_of_birth.label(class="form-control-label") }}  -->
                                {% if form.date_of_birth.errors %} {{ form.date_of_birth(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.date_of_birth.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.date_of_birth(class="form-control") }} {% endif %}
                            </div>
                            <p class="text-secondary p-1">Language</p>
                            <div class="form-group">
                                <!-- {{ form.language.label(class="form-control-label") }}  -->
                                {% if form.language.errors %} {{ form.language(class="form-control
                                                    is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.language.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.language(class="form-control" , id="countries-flags" ) }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">Education</p>
                            <div class="form-group">
                                <!-- {{ form.education_level.label(class="form-control-label") }}  -->
                                {% if form.education_level.errors %} {{ form.education_level(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.education_level.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.education_level(class="form-control") }} {% endif %}
                            </div>

                            <p class="text-secondary p-1">Contact No</p>
                            <div class="form-group">
                                <!-- {{ form.contact_number.label(class="form-control-label") }}  -->
                                {% if form.contact_number.errors %} {{ form.contact_number(class="form-control
                        is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.contact_number.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.contact_number(class="form-control") }} {% endif %}
                            </div>
                            <p class="text-secondary p-1">Email</p>
                            <div class="form-group">
                                <!-- {{ form.email.label(class="form-control-label") }}  -->
                                {% if form.email.errors %} {{ form.email(class="form-control is-invalid")
                        }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.email(class="form-control") }} {% endif %}
                            </div>

                           

                            <p class="text-secondary p-1">Update Profile Picture</p>
                            <div class="form-group">
                                <!-- {{ form.picture.label() }} -->
                                {{ form.picture(class="form-control-file border p-1") }}
                                {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br> {% endfor %} {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-right">
                            {% if current_user.purpuse != "ok" %}
                            <a class="text-danger" style="padding-right: 10px;" href="{{ url_for('main.accountverify') }}">*<em>Verify Your Profile</em></a>                        
                            {% endif %}
                        {{ form.submit(class="btn btn-info") }}
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="{{ url_for('static', filename='easy-autocomplete.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='resources/flags.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.easy-autocomplete.min.js') }}" type="text/javascript"></script>
<script>
    var options = {

        url: "{{ url_for('static', filename='languages.json') }}",

        getValue: "name",

        list: {
            match: {
                enabled: true
            },
            maxNumberOfElements: 8
        },

        template: {
            type: "custom",
            method: function (value, item) {
                return "<span class='flag flag-" + (item.code).toLowerCase() + "' ></span>" + value;
            }
        },

        theme: "round"
    };

    $("#countries-flags").easyAutocomplete(options);
</script>
{% endblock content %}