{% extends "layout.html" %}
{% block content %}
<div class="col-6" style="margin-top: 4em;">
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            <!--Repeat this code block for additional item you want to show  -->
            <div class="form-group">
                {{ form.action.label(class="form-control-label") }}
                {% if form.action.errors %}
                    {{ form.action(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.action.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.action(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Insert here your items in div element for all the data you need  -->

            <!--Repeat this code block for additional item you want to show  -->
            <div class="form-group">
                {{ form.target_audience.label(class="form-control-label") }}
                {% if form.target_audience.errors %}
                    {{ form.target_audience(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.target_audience.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.target_audience(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.amount.label(class="form-control-label") }}
                {% if form.amount.errors %}
                {{ form.amount(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.amount.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.amount(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.end_date.label(class="form-control-label") }}
                {% if form.end_date.errors %}
                {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Insert here your items in div element for all the data you need  -->

            <!--Repeat this code block for additional item you want to show  -->
            



        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

</div>
{% endblock content %}
